<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    android:compileSdkVersion="30"
    android:compileSdkVersionCodename="11"
    package="wgu.SchedulerApp"
    platformBuildVersionCode="30"
    platformBuildVersionName="11">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="30" />

    <uses-permission
        android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.type.watch" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true" />

    <application
        android:theme="@ref/0x7f100006"
        android:label="WGU Term Tracker"
        android:icon="@ref/0x7f0e0000"
        android:debuggable="true"
        android:testOnly="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:roundIcon="@ref/0x7f0e0001"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">

        <activity
            android:name="wgu.SchedulerApp.AssesmentsActivity" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:label="@ref/0x7f0f003e"
            android:name="wgu.SchedulerApp.AssessmentsActivity">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="wgu.SchedulerApp.CourseDetails" />

        <activity
            android:name="wgu.SchedulerApp.EditCoursesActivity" />

        <activity
            android:name="wgu.SchedulerApp.ViewCoursesInTerm" />

        <activity
            android:name="wgu.SchedulerApp.EditTermsActivity" />

        <activity
            android:name="wgu.SchedulerApp.EditMentorsActivity" />

        <activity
            android:name="wgu.SchedulerApp.EditAssessmentsActivity" />

        <activity
            android:name="wgu.SchedulerApp.ViewAllTerms" />

        <activity
            android:name="wgu.SchedulerApp.MainActivity">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false" />

        <activity
            android:theme="@ref/0x01030010"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@ref/0x7f0b0008" />

        <provider
            android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"
            android:exported="false"
            android:multiprocess="true"
            android:authorities="wgu.SchedulerApp.lifecycle-process" />
    </application>
</manifest>
